div.Inicio{
    background-color: grey;
    color: white;
    font-style: italic;
    height: 300px;
    width: 900px;
}
p.Dentro{
    color: gainsboro;
}
p.Leyendo{
    color: red;
    font-family:cursive;
    
}
div.Apple{
    width: 300px;
    height: 400x;
    border: 1px solid black;

}
p.Mundo{
    color: blue;
}
p.Mundial{
    color: grey;
}
p.Fecha{
    color: grey;
}
p.Leyendo{
    color: white;
}
p.Continua{
    color: blue;
}
div.Linux{
    border: 1px solid black;
    position: absolute;
    top: 330px;
    left: 430px;
    width: 480px;
    height: 240px;
}
p.Tecnologia{
    color: green;
}
div.Apple2{
    width: 140px; 
    height: 240px ; 
    position: absolute;
    top: 330px;
    left: 280px;
    background-color: grey;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
div.Linux2{
    background-color: grey;
    width: 180px; 
    height: 240px ; 
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    position: relative;
    top: -249px;
    left: 724px;
}







div.img1{
    border: 1px solid black;
    height: 500px;
    width: 300px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 50px;
}

div.img2{
    position: relative;
    top: -490px;
    left: 380px;
    border: 1px solid black;
    height: 310px;
    width: 260px;
    background-color: white;
}
div.img3{
    position: relative;
    top: -470px;
    left: 380px;
    border: 1px solid black;
    height: 310px;
    width: 260px;
    background-color: white;
}
div.img4{
    position: absolute;
    top: -0113px;
    left: 670px;
    border: 1px solid black;
    height: 400px;
    width: 260px;
    background-color: white;
}
div.img5{
    position: basolute;
    top: -1092px;
    left: 670px;
    border: 1px solid black;
    height: 320px;
    width: 260px;
    background-color: white;
}
div.img6{
    position: relative;
    top: -1436px;
    left: 950px;
    border: 1px solid black;
    height: 520px;
    width: 260px;
    background-color: white;
}