ul.html{
    background-color: yellow;
}
h4.h4{
    border: 2px solid purple;
    color: red
}
span.Azul{
    background-color: blue;
    
}
p.A{
    background-color: green;
}
p.B{
    color: red
}
p.C{
    background-color: green;
}
a.link{
    background-color: yellow;
}